#
# dummy file, generated run by tools/build.sh
#
dummy

#
# below .bbappend files, generated run by tools/build.sh
#
recipes-application/testsuite/testsuite-s5p4418_%.bbappend
recipes-application/testsuite/testsuite-s5p6818_%.bbappend

recipes-bsp/arm-trusted-firmware/arm-trusted-firmware_%.bbappend

recipes-bsp/bl1/s5p4418-avn-ref-bl1.bbappend
recipes-bsp/bl1/s5p4418-navi-ref-bl1.bbappend
recipes-bsp/bl1/s5p6818-artik710-raptor-bl1.bbappend
recipes-bsp/bl1/s5p6818-avn-ref-bl1.bbappend

recipes-bsp/l-loader/l-loader_%.bbappend

recipes-bsp/optee/optee-build_%.bbappend
recipes-bsp/optee/optee-client_%.bbappend
recipes-bsp/optee/optee-linuxdriver_%.bbappend
recipes-bsp/optee/optee-os_%.bbappend
recipes-bsp/optee/optee-test_%.bbappend

recipes-bsp/u-boot/s5p4418-avn-ref-uboot_%.bbappend
recipes-bsp/u-boot/s5p4418-navi-ref-uboot_%.bbappend
recipes-bsp/u-boot/s5p6818-artik710-raptor-uboot_%.bbappend
recipes-bsp/u-boot/s5p6818-avn-ref-uboot_%.bbappend

recipes-kernel/linux/linux-s5p4418-avn-ref_%.bbappend
recipes-kernel/linux/linux-s5p4418-navi-ref_%.bbappend
recipes-kernel/linux/linux-s5p6818-artik710-raptor_%.bbappend
recipes-kernel/linux/linux-s5p6818-avn-ref_%.bbappend

recipes-nexell-libs/gst-plugins/gst-plugins-camera_%.bbappend
recipes-nexell-libs/gst-plugins/gst-plugins-renderer_%.bbappend
recipes-nexell-libs/gst-plugins/gst-plugins-scaler_%.bbappend

recipes-nexell-libs/nx-libs/libdrm-nx_%.bbappend
recipes-nexell-libs/nx-libs/nx-drm-allocator_%.bbappend
recipes-nexell-libs/nx-libs/nx-gst-meta_%.bbappend
recipes-nexell-libs/nx-libs/nx-renderer_%.bbappend
recipes-nexell-libs/nx-libs/nx-scaler_%.bbappend
recipes-nexell-libs/nx-libs/nx-v4l2_%.bbappend
recipes-nexell-libs/nx-libs/nx-video-api_%.bbappend


#related GENIVI
recipes-qt/qt5/qtwayland/*
recipes-qt/qt5/qtwayland_%.bbappend