#
# dummy file, generated run by tools/build.sh
#
dummy

#
# below .bbappend files, generated run by tools/build.sh
#


meta-nexell-distro/recipes-bsp/bl1/bl1-s5p4418.bbappend
meta-nexell-distro/recipes-bsp/bl1/bl1-s5p6818.bbappend

meta-nexell-distro/recipes-bsp/bl2/bl2-s5p4418.bbappend

meta-nexell-distro/recipes-bsp/arm-trusted-firmware/arm-trusted-firmware_%.bbappend
meta-nexell-distro/recipes-bsp/l-loader/l-loader_%.bbappend
meta-nexell-distro/recipes-bsp/armv7-dispatcher/dispatcher-s5p4418.bbappend

meta-nexell-distro/recipes-bsp/optee/optee-build_%.bbappend
meta-nexell-distro/recipes-bsp/optee/optee-client_%.bbappend
meta-nexell-distro/recipes-bsp/optee/optee-linuxdriver_%.bbappend
meta-nexell-distro/recipes-bsp/optee/optee-os_%.bbappend
meta-nexell-distro/recipes-bsp/optee/optee-test_%.bbappend

meta-nexell-distro/recipes-bsp/u-boot/u-boot-nexell.bbappend

meta-nexell-distro/recipes-kernel/linux/linux-s5p4418.bbappend
meta-nexell-distro/recipes-kernel/linux/linux-s5p6818.bbappend

meta-nexell-distro/recipes-nexell-libs/gst-plugins/gst-plugins-camera_%.bbappend
meta-nexell-distro/recipes-nexell-libs/gst-plugins/gst-plugins-renderer_%.bbappend
meta-nexell-distro/recipes-nexell-libs/gst-plugins/gst-plugins-scaler_%.bbappend

meta-nexell-distro/recipes-nexell-libs/nx-libs/libdrm-nx_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-drm-allocator_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-gst-meta_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-renderer_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-scaler_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-v4l2_%.bbappend
meta-nexell-distro/recipes-nexell-libs/nx-libs/nx-video-api_%.bbappend

meta-nexell-distro/recipes-application/testsuite/testsuite-s5p4418_%.bbappend
meta-nexell-distro/recipes-application/testsuite/testsuite-s5p6818_%.bbappend

# SDK
meta-nexell-sdk/recipes-core/images/meta-environment.bbappend