[Unit]
Description=Android Debug Bridge daemon

[Service]
Type=forking
ExecStart=/usr/bin/start_adbd.sh
PIDFile=/run/adbd.pid

[Install]
WantedBy=multi-user.target
