[Desktop Entry]
Type=Application
Version=0.1.0
Name=NxDAudioManagerTest
Name[ko]=NxDAudioManagerTest
Comment=Nexell DAudio Manager Test for QT
Comment[ko]=Nexell DAudio Manager Test for QT
Icon=icon.png
TryExec=NxDAudioManagerTest
Exec=NxDAudioManagerTest
