[Desktop Entry]
Type=Application
Version=1.1.0
Name=NxBTPhone
Name[ko]=NxBTPhone
Comment=Nexell BT Phone for QT
Comment[ko]=Nexell BT Phone for QT
Icon=icon_btphone.png
TryExec=NxBTPhone
Exec=NxBTPhone
