[Desktop Entry]
Type=Application
Version=1.1.0
Name=NxBTSettingsR
Name[ko]=NxBTSettingsR
Comment=Nexell BT SettingsR for QT
Comment[ko]=Nexell BT SettingsR for QT
Icon=icon_btsettingsr.png
TryExec=NxBTSettingsR
Exec=NxBTSettingsR
