[Unit]
Description=Watch power key press for reset
After=network.target
After=cgminer.service

[Service]
Type=forking
#ExecStart=/usr/sbin/watchevent
ExecStart=/usr/bin/screen -LdmS watchevent /usr/sbin/watchevent
ExecReload=/usr/bin/screen -S watchevent -X stuff ^C
Restart=always
RestartSec=10s
StartLimitInterval=10
StartLimitBurst=5
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target

