[Desktop Entry]
Type=Application
Version=1.1.0
Name=NxBTAudioR
Name[ko]=NxBTAudioR
Comment=Nexell BT AudioR for QT
Comment[ko]=Nexell BT AudioR for QT
Icon=icon_btaudior.png
TryExec=NxBTAudioR
Exec=NxBTAudioR
